


<div class="content">
	<div class="content-left clearfix">

		<div class="image">

			<img src="/assets/img/johny.jpg" alt="">

		</div>
	</div>

	<div class="center-line clearfix"></div>

	<div class="content-right">

		<article class="about-me">

			<h2> Kilka słów o mnie</h2>
			<p>	Jeszcze nie Junior Front End Developer, ale to już niedługo. Przynajmniej mam taką nadzieję. W ciągu dwóch lat uczyłem się i rezygnowałem z nauki bardzo wielu języków programowania. W końcu po wielu niepowodzeniach, za radą mojego znajomego postanowiłem rozpocząć naukę od HTML i CSS. Wiem, to nie są języki programowania, a języki opisowe. Jednak bardzo szybko widać efekty nauki. To bardzo mobilizuje do nauki. Przynajmniej w moim wypadku.</p>
			<p>Przyszedł jednak kolejny kryzys. Brakowało mi mobilizacji. Mam rodzinę, stałą pracę. Inne zobowiązania. Łatwo się wymigać od nauki i usprawiedliwić sobie dlaczego właśnie dziś lub nawet w tym tygodniu nic nie zrobię. Stąd pojawił się pomysł na prowadzenie bloga. Jak bym miał mało do roboty. Czerpiąc z doświadczeń innych blogerów programistów wiem że blog mobilizuje w utrzymaniu motywacji do nauki. W końcu mogą to czytać miliony. Nie mogę ich zawiść.<p>
			<p>O tym będzie ten blog. O tym jak sobie radzę z leniem lub bardziej modnie z prokrastynacją. Będę się dzielił moimi przemyśleniami z procesu nauki, oraz tym czego się aktualnie uczę. </p>
			<p>Jeżeli chodź jedna osoba czytająca ten blog zainspiruje się do działania będę czuł się spełniony jako bloger :)</p>

		</article>

		<div class="contact-info clearfix">
			<h4>nafroncie.blog@gmail.com</h4>
		</div>
			
		<div class="social_media">

			<a rel="icon" href="">
				<img src="/assets/icon/twitter.svg" alt="twitter icon">	
			</a>

			<a rel="icon" href="">
				<img src="/assets/icon/github.svg" alt="Github icon">
			</a>

			<a rel="icon" href="">
				<img src="/assets/icon/facebook.svg" alt="Facebook icon">
			</a>

		</div>
	</div>

</div>
