


<div class="content">
	<div class="content-left clearfix">

		<div class="image">

			<img src="/assets/img/johny.jpg" alt="">

		</div>
	</div>

	<div class="center-line clearfix"></div>

	<div class="content-right">

		<article class="about-me">

			<h2> Coś tam sobie napisze o sobie</h2>
			<p>	Ipsum sjklfs klj salf lsdf lsdf</p>

		</article>

		<div class="contact-info clearfix">
			<h4>nafroncie.blog@gmail.com</h4>
		</div>
			
		<div class="social_media">

			<a rel="icon" href="">
				<img src="/assets/icon/twitter.svg" alt="twitter icon">	
			</a>

			<a rel="icon" href="">
				<img src="/assets/icon/github.svg" alt="Github icon">
			</a>

			<a rel="icon" href="">
				<img src="/assets/icon/facebook.svg" alt="Facebook icon">
			</a>

		</div>
	</div>

</div>
