
	 <input type="checkbox" id="nav"/>

     <div class="menu clearfix">

     

		<div class="toggle">

     		<label for="nav">
     			<span></span>
     			<span></span>
     			<span></span>
     		</label>

		</div>

     	<a href="http://nafroncie.com">
     		<h1>Na Froncie</h1>
     	</a>

		<nav>

	     	<ul class="fullPageNav clearfix">

	     		<li><a href="#">Posty</a></li>
	     		<li><a href="/about/index.html">O mnie</a></li>
	     		<li><a href="#">Projekty</a></li>

	     	</ul>

	    </nav>

     </div>



