
@import _1-base/base

.main
	margin: $blogmargin
	max-width: $bigblogmw
	width: $prewidth

	.menu

		a
			h1
				color: #333333
		.toggle

			label
				
				span 

					color: #333333

		nav

			ul 

				li 
					a

						color: #333333

	.content

		overflow: hidden 
		margin-top: 2em

		.content-left

			float: left
			width: 33%

			.image
				img 	
					width: 350px
					border-radius: 500px

		.center-line

			border-left: 1px solid #333333
			float: left
			height: 500px
			margin: 3em 2em 3em

		