@import _1-base/base

.main-head
	height: 80vh
	background-color: #64B5F6
	margin: 0 0 5em 0
	

	.title
		margin: $blogmargin
		max-width: $bigblogmw
		width: 90%

		.wraper
			margin: 0 10%
			padding-top: 14em
			text-align: center
			
			h5, h1
				color: white
			h1
				font-size: 3em

section

	article
		
		width: 700px
		margin: 0 auto
		line-height: 2em

		p
			margin: 0 0 29px 0
			font-family: 'Open-Sans', sans-serif
			color: #333
			font-size: 1.25em
			line-height: 1.55em
	footer

		margin: 0 auto
		max-width: 71.25em
		width: 90%

		.social_media

			a 
				img 

					width: 40px

	#disqus_thread

		margin: 0 auto
		max-width: 71.25em
		width: 90%


@media only screen and (max-width: 1024px)

	section 
		article 
			width: 80%



@media only screen and (max-width: 453px)

	.main-head
		margin-bottom: 1em
		height: 80vh

		.title
			.wraper

				text-align: left

				h5
					font-size: 1em

	section 
		article 
			width: 85%

			h4
				font-size: 1.4em
				margin-bottom: 1em

			p
				font-size: 1.1em
				line-height: 2em




