---
layout: default

---
<section>

	<div class="main-head">
		

		<div class="title">

			<input type="checkbox" id="nav"/>

		     <div class="menu clearfix">

		     

				<div class="toggle">

		     		<label for="nav">
		     			<span></span>
		     			<span></span>
		     			<span></span>
		     		</label>

				</div>

		     	<h1 class="main_head">Na Froncie</h1>

				<nav>

			     	<ul class="fullPageNav clearfix">

			     		<li><a href="#">Posty</a></li>
			     		<li><a href="#">O mnie</a></li>
			     		<li><a href="#">Projekty</a></li>

			     	</ul>

			    </nav>

		     </div>


			<div class="wraper">

				<h5>{{ page.date | date: "%d %B, %Y" }}</h5>
				<h1>{{ page.title }}</h1>

			</div>

		</div>

	</div>

	<article>
		

		{{ content }}
	</article>

</section>